@font-face {
  font-family: "iconfont"; /* Project id 4275619 */
  src: url('iconfont.woff2?t=1708931479799') format('woff2'),
       url('iconfont.woff?t=1708931479799') format('woff'),
       url('iconfont.ttf?t=1708931479799') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e639";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-examine:before {
  content: "\e61e";
}

.icon-tongyong_tianjia:before {
  content: "\e65a";
}

.icon-_chaosongwode:before {
  content: "\e753";
}

.icon-tiaojianfenzhi:before {
  content: "\e606";
}

.icon-richeng:before {
  content: "\e667";
}

.icon-xitongrizhi:before {
  content: "\e664";
}

.icon-dengji-:before {
  content: "\e605";
}

.icon-wenjuan:before {
  content: "\e8bb";
}

.icon-yanjiuzhulu:before {
  content: "\e622";
}

.icon-mobansheji:before {
  content: "\e627";
}

.icon-moban:before {
  content: "\e604";
}

.icon-zidingyiziduan:before {
  content: "\e766";
}

.icon-essential-information:before {
  content: "\e612";
}

.icon-duihua:before {
  content: "\e602";
}

.icon-xitong:before {
  content: "\e603";
}

.icon-liaotian:before {
  content: "\e60f";
}

.icon-qunliao:before {
  content: "\e7f1";
}

.icon-peizhi-zhongduanpeizhi:before {
  content: "\e61b";
}

.icon-dasuolvetuliebiao:before {
  content: "\e601";
}

.icon-liebiaoshitucaidan:before {
  content: "\e8dc";
}

.icon-zhengshu:before {
  content: "\e63e";
}

.icon-ziliaoku:before {
  content: "\e600";
}

.icon-customer:before {
  content: "\e618";
}

.icon-gonggao:before {
  content: "\e626";
}

.icon-music-full:before {
  content: "\e98e";
}

.icon-yanzhengma:before {
  content: "\e634";
}

.icon-WORD:before {
  content: "\e6eb";
}

.icon-pdf1:before {
  content: "\e740";
}

.icon-text:before {
  content: "\e959";
}

.icon-folder-open:before {
  content: "\e7d1";
}

.icon-image:before {
  content: "\e615";
}

.icon-ppt:before {
  content: "\e63f";
}

.icon-video:before {
  content: "\e663";
}

.icon-excel:before {
  content: "\e61c";
}

.icon-bumenzhinenggongzuoshenhe:before {
  content: "\e638";
}

.icon-quanxianguanli:before {
  content: "\e60c";
}

.icon-24gf-folderOpen:before {
  content: "\eac5";
}

.icon-suyaniconchanpinleibufenzuodaohangbufen87:before {
  content: "\e730";
}

.icon-wodeqiye:before {
  content: "\e67a";
}

.icon-bg-upload:before {
  content: "\e645";
}

.icon-zuzhibumen:before {
  content: "\e68b";
}

.icon-jiaoseguanli:before {
  content: "\e62f";
}

.icon-shouye-shouye:before {
  content: "\e620";
}

.icon-icon-mianxing_fuzhi_bukejian:before {
  content: "\e60a";
}

.icon-icon-mianxing_fuzhi_kejian:before {
  content: "\e60b";
}

.icon-icon-mianxing_fuzhi_mima:before {
  content: "\e60e";
}

.icon-icon-mianxing_fuzhi_yonghu:before {
  content: "\e610";
}

.icon-icon-mianxing_fuzhi_shezhi:before {
  content: "\e611";
}

.icon-kehuguanli:before {
  content: "\e714";
}

.icon-folder:before {
  content: "\e61f";
}

